block nav_pages
	-
		var nav_pages = [
			{
				name: '',
				href: '/.html',
				type: ''
			},
		];

header
	.container.header_container
		.header_logo
			.nav_logo
				.nav_logo-name Rogdia villas
				.nav_logo-image
					img(src="/img/rogdia_villas_stars.png", alt="")
			.nav_logo-action 
				a(href="#order").btn.btn--white Book now
			
		nav.header_nav
			a(href="/" style="background-image: url('/img/pictures/nav_item_amphitrita.jpg')").nav_item.nav_item--current
				img(src="/img/amphi_icon_wt.png", alt="").nav_item-icon
				.nav_item-title Amphitrita

			a(href="/" style="background-image: url('/img/pictures/nav_item_dionisos.jpg')").nav_item
				img(src="/img/dionisos_icon_yl.png", alt="").nav_item-icon
				.nav_item-title Dionisos

			a(href="/" style="background-image: url('/img/pictures/nav_item_pegasus.jpg')").nav_item
				img(src="/img/pegasus_icon_yl.png", alt="").nav_item-icon
				.nav_item-title Pegasus
			
		.header_langs
			a(href="/").lang_item
				img(src="/img/icons/icons8-france.png", alt="")
			a(href="/").lang_item.lang_item--current
				img(src="/img/icons/icons8-great_britain.png", alt="")
			a(href="/").lang_item
				img(src="/img/icons/icons8-germany.png", alt="")
			a(href="/").lang_item
				img(src="/img/icons/icons8-russian_federation.png", alt="")