block vars
	- var pageTitle = '';

title=pageTitle + ' — Rogdia villas'

meta(charset='utf-8')

meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=360, initial-scale=1, shrink-to-fit=no")



link(href="/fonts/intro/stylesheet.css", rel='stylesheet')
link(href="/css/owl.carousel.min.css", rel='stylesheet')
link(href="/css/owl.theme.default.min.css", rel='stylesheet')
link(href="/css/grid.css", rel='stylesheet')
link(href="/css/normalize.css", rel='stylesheet')
link(href="/css/base.css?v={VERSION_REPlACE}", rel='stylesheet')

block head