@import "../mixins";
@import "../variables";


.section_title {
    margin-top: 0;
    padding-top: 180px;
    padding-bottom: 60px;
    background-image: url('/img/amphi_bg_lg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;

    @include min_width(768) {
        padding-top: 480px;
        padding-bottom: 120px;
    }

    .page_title {
        img {
            width: 90px;
        }
    }
}

.page_title {
    font-size: 64px;
}

.section_benefits {

    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 0;

    ul {
        padding-bottom: 150px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        padding: 0;
        flex: calc(33% - 1em);
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 2em;
        margin-right: 1em;

        @include min_width(768) {
            margin-bottom: 0em;
            flex: 16.666666%;
        }

        strong {
            font-size: 40px;
            font-weight: bold;
            line-height: 60px;
            display: inline-block;
            margin-right: 10px;
        }

        img {
            max-height: 35px;
        }

        @include min_width(768) {
            flex: calc(16.666666%% - 1em);

            strong {
                font-size: 50px;
                line-height: 60px;
                margin-right: 10px;
            }

            img {
                max-height: 40px;
            }
        }

        @include min_width(992) {
            strong {
                font-size: 60px;
                line-height: 60px;
                margin-right: 10px;
            }

            img {
                max-height: 40px;
            }
        }

    }

    @include min_width(768) {
        font-size: 20px;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @include min_width(992) {
        font-size: 24px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.section_bigimage {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;

    &--view {
        background-image: url('/img/pictures/wide_view.jpg');
        padding-top: 200px;
        padding-bottom: 300px;
    }

    &--viewwide {
        .container {
            background-repeat: no-repeat;
            background-image: url('/img/amphi_located.jpg');
            padding-top: 200px;
            padding-bottom: 600px;
            background-position: center 20%;

            @include min_width(768) {
                .section_bigimage_wrapp {
                    width: 50%;
                    margin-left: auto;
                }
            }
        }
    }
}

.section_bigimage--pool {
    position: relative;
    padding-top: 300px;
    padding-bottom: 500px;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 100;
    }

    .section_bigimage--pool_bg1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/pictures/section_bigimage-pool_bg1.jpg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% auto;
        z-index: 1;

        img {
            height: 100%;
        }
    }

    .section_bigimage--pool_bg2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/pictures/section_bigimage-pool_bg2.png);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100% auto;
        z-index: 2;

        img {
            height: 100%;
        }
    }
}


.section_location {
    overflow: hidden;
}

.section_location_map {
    height: 400px;
    background-image: url(/img/amphi_map.png);
    background-repeat: no-repeat;
    background-position: 79% top;
    background-size: auto 100%;
    margin-left: -15px;
    margin-right: -15px;
}

.location_about_image {
    @include min_width(768) {

        &--img57 {
            margin-left: -25%;
        }

        &--img1250 {
            margin-left: -25%;

            img {
                max-width: 120%;
            }
        }

        &--onisland {
            margin-left: -25%;

            img {
                max-width: 125%;
            }
        }
    }
}

.rooms {}

.room_rows {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1em;
}

.room_type {
    width: 100px;
    font-weight: bold;
}

.room_tags {
    flex: 1;
}

.room_tag {
    display: inline-block;

    background-color: $color-tag_bg;
    border-radius: 10px;
    line-height: 1.5em;
    padding: 0 1.7em;
    color: $color-tag;

    margin-right: .5em;

    &--current {
        background-color: white;
        color: $color-text;

        box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1), 0px 30px 90px 0px rgba(0, 0, 0, 0.05);

    }
}