extends layout/layout.pug

block vars
	-
		var pageTitle = 'Amphitrita';
		var pageType = 'amphitrita';

block content

	section.section_title
		.container
			.page_title.h1
				img(src="/img/amphi_logo.png", alt="")
				br
				| Amphitrita


	section.section_benefits
		.container
			ul
				li 
					strong 
						| 6 
					img(src="/img/icons/bedrooms.png", alt="")
					br
					| bedrooms
				li 
					strong 
						| 11
					img(src="/img/icons/people.png", alt="")
					br
					| people
				li 
					strong 
						| 5
					img(src="/img/icons/parking-spaces.png", alt="")
					br
					| parking
					br
					| spaces
				li 
					img(src="/img/icons/internet-speed.png", alt="")
					br
					| High speed
					br
					| Internet
				li 
					img(src="/img/icons/lounge-area.png", alt="")
					br
					| Lounge
					br
					| area
				li 
					img(src="/img/icons/ac.png", alt="")
					br
					| AC

		.section_about
			.container
				p 
					| A modern 5-star villa on the beach with 
					br
					a(href="") 25 m2 heated pool,
					br
					a(href="") private sea way 
					| to the beach
					| (and a beautiful grotto nearby),
					br 
					a(href="") living room 
					| and 
					a(href="") lounge zone 
					| with HD satellite TV,
					br
					| 50 m2 sea view 
					a(href="") roofed terrace 
					| and balcony


	section.section_location
		.container
			h2.h2 Location
			p Villa is located on the shore in the heart of Crete in       Greece, about 16 km    west from Heraklion, island’s capital city

			.section_location_map

			.section_location_about
				.location_about
					.row
						.col-4.col-md-2
							h3.h3 5–7 minutes by car
							p Several supermarkets
							p Beach and city restaurants
							p Several small shops
							p Diving center
						.col-4.col-md-3.location_about_image.location_about_image--img57
							img(src="/img/location_57.png", alt="")
				.location_about
					.row
						.col-4.col-md-2
							h3.h3 15–20 minutes by car
							p Crete's capital — Heraklion
							p Hundreds of restaurants, cafes,
							p bars, shops, boutiques,
							p night clubs, etc.
						.col-4.col-md-3.location_about_image.location_about_image--img1250
							img(src="/img/location_1520.png", alt="")
				.location_about
					.row
						.col-4.col-md-2
							h3.h3 On the island
							p Dozens of cities, breathtaking views,
							p ancient castles, archeological
							p monuments, etc.
						.col-4.col-md-3.location_about_image.location_about_image--onisland
							img(src="/img/location_ontheisland.png", alt="")


	section.section_bigimage.section_bigimage--pool
		.section_bigimage--pool_bg1
		.section_bigimage--pool_bg2

		.container
			h2.h2 Infinity pool
			p 25 m2 heated pool <br> with jacuzzi <br> and waterfall

	section.section_rooms
		.container
			h2.h2 Rooms
			.rooms
				.room_rows
					.room_type Upper
					.room_tags
						.room_tag.room_tag--current Master bedroom
						.room_tag Second bedroom
				.room_rows
					.room_type Ground
					.room_tags
						.room_tag Kitchen
						.room_tag Dining area
						.room_tag Living area
						.room_tag Outside area
						.room_tag Bedroom
				.room_rows
					.room_type Lower
					.room_tags
						.room_tag 2nd master bedroom
						.room_tag 2 other bedrooms
						.room_tag Kitchen
						.room_tag Hamam
						.room_tag Laundry room


	section.section_bigimage.section_bigimage--view
		.container
			h2.h2 Stunning view <br> every day

	section.section_climate
		.container
			h2.h2 Climate
			p Crete has a Mediterranean climate, with hot, sunny summers and mild winters.
			img(src="/img/climate.jpg", alt="")

	section.section_bigimage.section_bigimage--viewwide
		.container
			.section_bigimage_wrapp
				h2.h2 Access <br> to the sea
				p Villa is located 80 m above the sea level.
				p It has a private descent to the beach, which leads to a cozy private beach with stone pier. The pier can be used to park jet skis and small boats.

	section.section_booking
		.container
			h2.h2 Book this villa
			p Choose your preferred dates. Days marked in grey are already booked.
			p Our manager will contact you for confirmation within 1 day.

			.booking_calendar
			
			.booking_order
				.booking_form
					.form
						.row
							label Name 
							input(type="text" placeholder="")
						.row
							label Phone <br> or email 
							input(type="text" placeholder="")
						.row.row_submit
							button(type="submit")

				.booking_contacts
					p If you have any questions, or if you would like <br> to book other dates, feel free to contact us:
					h3.h3 +30 693 69-72-000
					h3.h3  divolis62@gmail.com 
					p Licence #MHTE 1039K10003110101





