header {
    background-color: #0e283c;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;

    a {
        color: $color-nav_link;
        border-color: rgba($color-nav_link, .4);

        img {
            border: none;
        }
    }

    @include min_width(768) {
        padding: 0;

        background-color: rgba(#0e283c, .95);

        margin-bottom: -110px;

        &:before {
            content: '';
            background-image: url('/img/header_bg.jpg');
            background-size: 50% 100%;
            background-position: left center;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @include min_width(768) {
        margin-bottom: -190px;
    }
}

.header_container {

    @include min_width(768) {
        display: flex;
        flex-wrap: nowrap;
    }
}

.header_logo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @include min_width(768) {
        flex: 1;
    }
}

.nav_logo {

    &-name {
        font-size: 28px;
    }

    &-image {
        img {
            max-height: 12px;
        }
    }

    &-action {

        @include min_width(768) {
            display: none;
        }
    }

    @include min_width(768) {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;

        &-name {
            word-spacing: 300px;
        }

        &-image {
            img {
                max-height: 18px;
            }
        }
    }

    @include min_width(992) {
        &-name {
            font-size: 38px;
        }

        &-image {
            img {
                max-height: 24px;
            }
        }
    }
}

.header_nav {
    display: flex;
    margin-top: 20px;

    @include min_width(768) {
        margin-top: 0;

        @include min_width(768) {
            flex: 3;
        }
    }
}

.nav_item {
    font-size: 20px;
    line-height: 1.4em;
    border: none;
    position: relative;
    margin-right: 0.5em;

    &:last-child {
        margin-right: 0;
    }

    &--current {
        .nav_item-title {
            border: none;
            color: white;
        }
    }

    @include max_width(786) {
        background-image: none !important;
    }

    @include min_width(786) {
        flex: 1;

        &:before,
        &:after {
            content: '';
            background-color: rgba(#0e283c, .7);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all .3s ease;
        }

        &:after {
            display: none;
        }

        &:hover {
            &:before {
                background-color: rgba(#0e283c, .5);
            }
        }

        padding: 15px 30px;

        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 80px;


        display: flex;
        align-items: center;
        justify-content: center;

        &--current {
            &:after {
                display: inline-block;
            }
        }

    }

    @include min_width(992) {
        font-size: 30px;
        height: 160px;
    }
}

.nav_item-icon {

    display: none;

    @include min_width(786) {
        height: 35px;
        top: -2px;
        margin-right: 6px;
        position: relative;
        z-index: 100;
        display: inline-block;
    }
}

.nav_item-title {
    display: inline-block;
    border-bottom: 2px solid rgba($color-nav_link, .4);
    position: relative;
    z-index: 100;
}

.header_langs {
    position: absolute;
    bottom: -30px;
    line-height: 0;
    display: flex;
}

.lang_item {
    border: none;
    line-height: 0;
    display: inline-block;
    text-align: center;

    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    img {
        display: inline-block;
        height: 18px;
    }

    &:after {
        content: '';
        background-color: white;
        height: 6px;
        width: 80%;
        border-radius: 6px;
        left: 0;
        margin-top: 6px;
        opacity: 0;
        display: inline-block;
        transition: all .3s ease;
    }

    &:hover {
        &:after {
            opacity: .3;
        }
    }

    &--current {
        &:after {
            opacity: 1;
        }
    }
}