.btn {

    background-color: rgb(255, 219, 80);
    color: white;
    border-radius: 6px;
    line-height: 2em;
    padding: 0 12px;
    display: inline-block;

    &--white {
        background-color: white;
        color: #0c1b29;
    }
}

a {
    text-decoration: none;
    color: $color-link;
    border-bottom: 1px solid rgba($color-link, .4);
}

img {
    max-width: 100%;
}

.h1 {
    font-size: 4em;
    font-weight: bold;

    @include min_width(1200) {
        font-size: 7em;
    }
}

.h2 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: .5em;

    @include min_width(1200) {
        font-size: 5em;
    }
}