@import "reset";
@import "mixins";
@import "variables";
@import 'fonts';
@import 'typograph';
@import 'components';

@import "partial/header";
@import "partial/footer";
@import "partial/body";
@import "partial/forms";
@import "partial/hamburger";

@import "pages/index";

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    margin-top: 300px;
}